name: Deploy Jupyter Book to GitHub Pages

on:
  push:
    branches:
      - main  # or your default branch

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install jupyter-book ghp-import

      - name: Clean previous builds
        working-directory: tempBook2
        run: jupyter-book clean . --all

      - name: Build Jupyter Book
        working-directory: tempBook2
        run: jupyter-book build .

      - name: Deploy to GitHub Pages
        run: |
          ghp-import -n -p -f tempBook2/_build/html
